@font-face {
    font-family: 'chinese_shanghai';
    src: url('fonts/chinese_shangai-demoversion-regular-webfont.woff2') format('woff2'),
         url('fonts/chinese_shangai-demoversion-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0;
    margin: 0 15vw 10px ;
}

/* .c1, .c2, .r1, .r2{
    border: 1px solid red;
} */


.c1{
    background-image: url("/Project-Sign-up-Form/image/valentin-OMPm8bDhgsI-unsplash.jpg");
    background-size: cover;
    flex-grow: 0;
    min-width: 28vw;
    position: relative;
}
.logo{
    height: 2em;
}
.title_n_logo{
    color: white;
    position: relative;
    top: 25%;
    background-color: rgba(255,255,255,0.2);
    font-size: 4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: 'chinese_shanghai';
    font-size: 6rem;
}
.credit{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}
.credit>a, .credit>a:visited, .credit>a:hover{
    color: white;
    text-decoration: underline;
}

.c2{
    flex-grow: 1;
    background-color: #f9fafb;

    display: flex;
    flex-direction: column;

    font-family:Arial, Helvetica, sans-serif;
}

.r1 {
    padding: 8rem 24px 24px;
    font-size: 24px;
    font-weight: 550;
    position: relative;
    /* top: 17%; */
}

.form_card{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 16px 32px;

    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 0 24px 24px;
}
.form_head{
    font-size: 1.5rem;
    font-weight: 500;

    flex: 0 0 100%;
}
.form_card>div{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(50% - 16px);
}
label {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
}

input {
  padding: 8px 10px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 1rem;
}
input:focus{
    border: 1px solid blue;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

#password:invalid{
    border: 1px solid red
}

.form_button{
    padding: 24px;
    position: relative;
}
button{
    background-color: rgb(0, 64, 99);
    color: #f9fafb;
    padding: 1rem 4rem;
    border-radius: 8px;
    font-size: 1rem ;
    font-weight: 600;
}
.form_button p{
    position: relative;
    top: 16px;
}
.login_text{
    color: rgb(0, 64, 99);
}

