body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0;
    margin: 0 5vw 10px ;
}

.c1, .c2, .r1, .r2{
    /* border: 1px solid red; */
}


.c1{
    background-image: url("/Project-Sign-up-Form/image/valentin-OMPm8bDhgsI-unsplash.jpg");
    background-size: cover;
    flex-grow: 0;
    min-width: 35vw;
    position: relative;
}
.title{
    text-align: center;
    color: white;
    position: relative;
    top: 25%;
    background-color: rgba(255,255,255,0.2);
    font-size: 4rem;
}
.credit{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}
.credit>a, .credit>a:visited, .credit>a:hover{
    color: white;
    text-decoration: underline;
}

.c2{
    flex-grow: 1;
    background-color: #f9fafb;

    display: flex;
    flex-direction: column;
}

.r1 {
    flex-grow: 1;
}

.r2{
    flex-grow: 2;
}