body{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.c1, .c2, .r1, .r2{
    border: 1px solid red;
    flex-grow: 1;
}

.c1{
    /* background-image: url("/Project-Sign-up-Form/image/wen-qiao-ZOgiXBdt6Gk-unsplash.jpg"); */
}

.c2{
    display: flex;
    flex-direction: column;
}